<div #banner class="page-view texture-background">
    <div class="banner-background texture-background">
        <div fxLayout="column" fxLayoutAlign="space-around center" class="inner-content">
            <div class="title" fxLayout="column">
                <span class="kaliber-title">KALIBER</span>
                <div class="kaliber-subtitle">Kaliber is platform where we promote learn and to let learn. It gamifies the monotonous learning process and aids in calibrating the contestant on various scales.
                    <div fxShow.lt-sm="false" fxShow.gt-md="true" fxShow="true">It promotes challenges and peer learning also.You can play quiz, challenge your peers, face challenges and dive into the ocean of Learning.</div>

                </div>
            </div>
            <div fxShow.lt-sm="true" fxShow.gt-md="true" fxShow="true">
                <a class="banner-button" md-button (click)="login()">Login</a>
            </div>
        </div>
    </div>
</div>