.image {
    width: 50px;
  height: 50px;
  border-radius: 50%;
}

.imageOfUser {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.toolbar {
  height: 100px;
}
.heading {
  margin-left: 34%;
}
.example-card{
  margin-bottom: 2%;
  margin-top: 2%;
}
.checkbox {
  margin-left: 1em;
  margin-right: 1em;
}