<h2 mat-dialog-title>Terms and Conditions</h2>
<mat-dialog-content>
    <div class="content">
        Please read these Terms and Conditions carefully before clicking "I Agree" button. Your access to and use of the service is conditioned on your acceptance of and compliance with these terms.These terms apply to all visitors, users and others who access
        or use the service.
    </div>
    <div class="content">
        <span>1. By accessing or using the service you agree to be bound by these Terms.</span>
    </div>

    <div class="content">
        <span>2. You disagree with any part of the terms then you may not access the service.
         Our service as a whole is protected by copyright.</span>
    </div>

    <div class="content">
        <span>3. You are responsible for safeguarding the password that you use to access the service and agree to not
         disclose your password to any third party.</span>
    </div>

    <div>
        <h1 class="title">Disclaimer</h1>
        <div class="content">
            The information contained in this website is for general information purposes only. This website does not make any warranties about the completeness, reliability and accuracy of this information.
        </div>
    </div>
</mat-dialog-content>
<mat-checkbox (change)="changeCheck($event)">I agree the terms and conditions</mat-checkbox>

<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Disagree</button>
    <button [disabled]="disabledChecked" [mat-dialog-close]="true" mat-button type="submit" color="primary">Agree</button>
</mat-dialog-actions>