#scroller {
    height: 55vh;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
}

.authorBtn {
    width: 20%;
    align-self: center;
}

.spinner {
    margin-left: 46%;
    margin-top: 31%;
}

.mat-card-actions,
.mat-card-content,
.mat-card-subtitle {
    margin-bottom: 10px;
}

.taken-error {
    margin-top: 12.5em;
}

.displayInfo {
    margin-right: 2em;
}