@import '~@angular/material/_theming';
@include mat-core();
$primary: mat-palette($mat-light-blue);
$accent: mat-palette($mat-blue);
$theme: mat-light-theme($primary, $accent);
$font-family: 'Roboto';
@include angular-material-theme($theme);
body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

//To add hover effect to the card, this class can be used.
.quiz-card {
    @include mat-elevation-transition;
    @include mat-elevation(8);
    &:hover {
        @include mat-elevation(24);
    }
}